body {
    color: #000080;
    font-family: lucida console;
}
 
a {
  color: #800080;
}    
    
a:visted {
  color: #ff0000;
}

*{
  background-color: #ffffff;
}

ul {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

li {
  font-size: 16px;
}

li small{
	font-size:10px;
}

header {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

label::first-letter { 
  font-size: 200%;
  color: #8A2BE2;
}

p {
	font-size: 10px;
	text-align: center;
}

p2 {
	font-size: 10px;
}

+/

1. What is important to know when linking an external file (like a stylesheet) to an HTML file?

			It is a good idea to keep the css file in a separate directory from the HTML it is linked to.

2. What tricks did you use to help you with positioning? 
How hard was it to get the site as you wanted it?

			text-align. This was pretty easy and centered everything.

3. What CSS did you use to modify the element style (like size, color, etc.)

			font-color, body color, font-size, *

4. Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add to your HTML?

			Yes, We added header, footer, address, small.
			This made it easier for us to modify items within the page without effecting everything else.

5. When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?

			The actual code base had all the styling built into the HTML. Doing this does not follow best practices as it makes the page much more difficult to later edit/modify. I also felt that because of this, it made the code much more difficult to follow/read. The code we created/wrote is much cleaner and easier to read.